pkgbase = mini-audicle
	pkgdesc = Integrated Development + Performance Environment for ChucK
	pkgver = 1.5.3.0
	pkgrel = 1
	url = https://github.com/ccrma/miniAudicle
	arch = x86_64
	groups = multimedia
	groups = pro-audio
	license = GPL
	makedepends = git
	depends = qt6-base
	depends = qscintilla-qt6
	depends = libsndfile
	depends = jack
	optdepends = chuck: for documentation and command line interface
	source = git+https://github.com/ccrma/miniAudicle.git#tag=dfcd099abe99a597499d7bd9d42ae4bcdff0862d
	source = miniAudicle.desktop
	b2sums = SKIP
	b2sums = 44219938670cd42953c2e948702adea3a33efd99c858638c0b0f824defede799937cc0c49459c10820b44d9fce56c2a071c893fef4b8b27c7e08b348be5c9d7d

pkgname = mini-audicle
