pkgbase = basalt-bin
	pkgdesc = TUI Application to manage Obsidian vaults and notes directly from the terminal
	pkgver = 0.11.2
	pkgrel = 1
	url = https://github.com/erikjuhani/basalt
	arch = x86_64
	license = MIT
	provides = basalt
	conflicts = basalt
	source = https://github.com/erikjuhani/basalt/releases/download/basalt%2Fv0.11.2/basalt-0.11.2-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = 2e2c4e2c6704b4d0b05c9b469de92d3633788fc658e4375aef1bb5ca314313e2

pkgname = basalt-bin
