pkgbase = basalt-bin
	pkgdesc = TUI Application to manage Obsidian vaults and notes directly from the terminal
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/erikjuhani/basalt
	arch = x86_64
	license = MIT
	provides = basalt
	conflicts = basalt
	source = https://github.com/erikjuhani/basalt/releases/download/basalt%2Fv0.12.0/basalt-0.12.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = dde46e1d3a52bb5d3e9f5bce8cee7304bf7dd2d3db3a038238f6fe7a57e3d7a9

pkgname = basalt-bin
