pkgbase = mini-audicle
	pkgdesc = Integrated Development + Performance Environment for ChucK
	pkgver = 1.5.5.7
	pkgrel = 1
	url = https://github.com/ccrma/miniAudicle
	arch = x86_64
	groups = multimedia
	groups = pro-audio
	license = GPL
	makedepends = git
	depends = qt6-base
	depends = qscintilla-qt6
	depends = libsndfile
	depends = jack
	optdepends = chuck: for documentation and command line interface
	source = git+https://github.com/ccrma/miniAudicle.git#tag=chuck-1.5.5.7
	source = miniAudicle.desktop
	sha256sums = 2e4da9c4a9beb4d337bc14449012a0496238525ccd21d4485d601671488c7718
	sha256sums = 3b78ff8420a6ed644a6963591491b2ab20c3f613fb03114a7c9044ded8ebd6f0

pkgname = mini-audicle
